.footer {
    padding: 10px;
    box-shadow: inset 0px 1px 0px rgba(192, 191, 191, 0.5);
    width: 390px;
    height: 67px;
    top: 737px;
    display: flex;
    position: fixed;
    flex-wrap: wrap;
    justify-content: space-evenly;

    .footer-div {
        width: 48px;
        align-items: center; /* 수직 정렬을 위해 추가 */
        text-align: center;
        font-size: 12px;
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
    }
    .footer-div:hover {
        color: #37AF6A;
    }
}