@import './Common.scss';

.mypageHeaderC {
  width: $all-width;
  height: 188px;
  border: 1px solid blue;

  .logoC {
    border: 1px solid blueviolet;
    height: 24px;
    padding-left: 24px;
    padding-right: 24px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
  }
}
