.alertpage {
    width: 100%;
    max-width: 40em;
    min-height: calc(100vh - 8em);
    background-color: #f4f4f4;
}

.alertpage-container {
    width: 100%;
    height: calc(100vh - 8em);
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}
