.monotalkalert-container{
    width: 342px;
    height: fit-content;
    padding: 20px 24px;
    background-color: #E9FFEE;

    .monotalkalert-title{
        width: 390px;
        height: fit-content;
        font-size: 14px;
        color: #000;
    }

    .monotalkalert-content{
        width: 390px;
        height: fit-content;
        font-size: 14px;
        color: #888;
    }
}

.monotalkalert-username{
    font-weight: bold;
}