@import './Common.scss';
.correctingpage-container {
    width: 100%;
    max-width: 40em;
    display: flex;
    flex-direction: column;
    height: 100vh;
    background-color: #f4f4f4;

    .sentences-container {
        height: fit-content;
    }
}
