.monochat-header-container {
    width: 100%;
    height: 3em;
    display: flex;
    padding: 10px;
    align-items: center;
    box-shadow: inset 0px 0px 5px rgba(192, 191, 191, 0.5);

    .monochat-logo {
        background-image: url('../img/monochat.png');
        width: 107px;
        height: 20px;
        margin-left: 12px;
    }

    .create-monochat {
        background-image: url('../img/createmonochat.png');
        width: 40px;
        height: 40px;
        margin-left: auto;
        cursor: pointer;
    }
}
