@import './Common.scss';
.multer {
    height: calc(100vh - 6em);
}

.multer-form-container {
    height: calc(100vh - 3em - 3em);
    @include flex-center();
    flex-direction: column;
    background-color: rgb(245, 245, 245);

    .profile-image {
        > img {
            width: 168px;
            height: 168px;
            border-radius: 50%;
            border: 1px solid lightgray !important;
        }
    }
    > form {
        .input-file-button {
            margin-top: 10vh;
            padding: 6px 15px;
            background-color: $--btn--color;
            border-radius: 5px;
            color: rgba(0, 0, 0, 0.679);
            font-weight: bold;
            cursor: pointer;
        }
        #input-file {
            display: none;
        }
    }

    .edit-ConfirmBtn {
        @include edit-ConfirmBtn();
    }
}
