@import './Common.scss';

.editPassword-Container {
    margin-top: 15vh;
    text-align: center;

    .editContainer-title {
        color: black;
        font-size: larger;
        font-weight: bold;
    }
    .editContainer-smalltitle {
        margin-top: 15px;
        color: #808080;
    }
    .editPassword-Form {
        margin: 0 20px;
        > label {
            margin-top: 20px;
            display: block;
            text-align: left;
        }
        > input {
            width: 100%;
            padding: 0px;
            height: 30px;
            border: 2px solid black;
            border-radius: 5px;
            font-size: large;
        }
    }
    .edit-ConfirmBtn {
        margin-top: 50px;
        width: 100%;
        height: 50px;
        background-color: $primary-color;
        border: none;
        border-radius: 5px;
        color: white;
        font-size: large;
        font-weight: bold;
    }
}
