@import './Common.scss';
.myPageOption-C-Header {
    @include flex();
    height: 3em;
    top: 0;
    width: 100%;
    padding: 0.75rem 1rem;
    position: fixed;
    background-color: $primary-color;

    .settingBack {
        margin-left: 5px;
    }
    .settingLogout {
        margin-left: auto;
    }
    .settingLogoutImage {
        margin-left: 5px;
        cursor: pointer;
    }
}
@import './MypageHeader.scss';
.myPageOption-container {
    width: $all-width;
    max-width: 40em;
    margin-top: 3em;
    border: 1px solid black;
    height: calc(100vh - 8em);

    .settingProfile {
        height: 56px;
        padding: 0 16px;
        margin: 16px 0;
        @include flex();

        .imageC {
            position: relative;
            @include flex();

            .profile-image {
                > img {
                    @include profile-image();
                }
            }
            .flag-image {
                > img {
                    @include flag-image();
                    transform: translate(-58px, -2px);
                }
            }
        }

        .contentC {
            margin-left: 10px;
            width: 100px;
            .nameInfo {
                @include flex-center();
                margin-bottom: 5px;
                font-weight: bold;
            }
            .countryInfo {
                font-weight: 500;
                font-size: 10px;
                @include flex-around();
            }
        }

        .editImage {
            margin-left: auto;
        }
    }

    .settingDetail {
        .myInformation-container {
            padding: 0 16px;
        }
    }
}

// 공통으로 적용 시킬 부분
.settingDetail-Header {
    margin-top: 24px;
    height: 32px;
    border-bottom: 1px solid lightgrey;
    @include flex();

    .settingDetail-Header-text {
        margin-left: 8px;
        font-weight: bolder;
    }
}

.settingDetail-Content {
    margin-top: 16px;
    padding: 0 16px;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;

    .settingDetail-Content-items {
        display: flex;
        flex-wrap: wrap;
        height: 24px;
        margin-top: 16px;

        .rightPointImgDiv {
            height: 24px;
        }
        &:first-child {
            margin-top: 0px;
        }

        .result-Content-items {
            margin-left: auto;
        }
        .userdelete-div {
            cursor: pointer;
        }
    }
}

.withdrawal {
    color: red;
}
