.newpost-header-container{
    width: 390px;
    height: 48px;
    display: flex;
    align-items: center;
}

.back-arrow{
    margin-left: 16px;
    width: 24px;
    height: 24px;
    background-image: url('../img/backarrow.png');
}

.newpost-header-text{
    margin-left: 8px;
    font-size: 16px;
    font-weight: bold;
}