.postdetailpage {
    width: 100%;
    max-width: 40em;
    height: calc(100vh - 3em - 3em);
    background-color: #f4f4f4;
    display: flex;
    flex-direction: column;
    align-items: center;
    overflow: auto;

    &::-webkit-scrollbar {
        display: none;
    }
}

.postdetailpage-container {
    width: 100%;
    height: calc(100vh - 3em);
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.languagecomment-container {
    width: 100%;
    max-height: 520px;
}

.languagecomment-container::-webkit-scrollbar {
    display: none;
}

.culturecomment-container {
    width: 100%;
    max-height: 520px;
}

.culturecomment-container::-webkit-scrollbar {
    display: none;
}

.culturepost-detail-container {
    overflow: scroll;
}

.culturepost-detail-container::-webkit-scrollbar {
    display: none;
}

.languagepost-detail-container {
    width: 100%;
    overflow: scroll;
}

.languagepost-detail-container::-webkit-scrollbar {
    display: none;
}
