@import './Common.scss';
.category-component {
    width: 171 * 2px;
    margin-left: 24px;
    margin-right: 24px;
    display: flex;
}

// .btn_lang:hover {
//     border-bottom-color: #000;
//     border-bottom: 2px solid;
//     color: #000;
//     background-color: white;
// }

// .btn_culture:hover {
//     border-bottom-color: #000;
//     border-bottom: 2px solid;
//     color: #000;
//     background-color: white;
// }
