.search-container {
    button {
        width: fit-content;
        height: 28px;
        background-color: white;
        color: #808080;
        border: 1px solid lightgrey;
        border-radius: 4px;
        font-size: 13px;
        margin-left: auto;
        margin-right: 12px;
        cursor: pointer;
        font-family: 'Poppins', sans-serif;
    }
}

.searchbar-input {
    width: calc(100% - 3em);
    height: 20px;
    border-radius: 4px;
    border: transparent;
    background-color: #f4f6f9;
    color: #808080;
    margin-left: 3em;
    margin-top: 6px;
    font-family: 'Poppins', sans-serif;
}

.searchbar-input:focus {
    outline: transparent;
}

.search-container {
    width: 100%;
    height: 2em;
    display: flex;
    align-items: center;
    margin-bottom: 1em;
    margin-top: 1em;
}

.searchbar {
    width: 100%;
    height: 32px;
    background-image: url('../img/searchbar.png');
    margin-left: 12px;
    margin-right: 10px;
}

.create-post {
    background-color: white;
}
