.send-comment-container {
    width: 100%;
    height: 3em;
    background-color: white;
    display: flex;
    justify-content: center;
    align-items: center;

    .type-comment {
        width: 100%;
        min-height: 32px;
        height: fit-content;
        margin-top: 4px;
        margin-left: 4px;
        margin-bottom: 4px;
        border-radius: 8px;
        border: 1px solid lightgrey;
    }

    .type-comment:focus {
        outline: none;
    }

    .revise-post {
        margin-left: 8px;
        width: 16px;
        height: 16px;
    }

    .send-comment {
        width: 24px;
        height: 24px;
        background-image: url('../img/Send.png');
        margin-left: 8px;
        margin-right: 8px;
        cursor: pointer;
    }
}

.entire-comment-container {
    width: 100%;
    max-width: 40em;
    position: fixed;
    height: 3em;
    bottom: 0px;
}
